@import url('https://fonts.googleapis.com/css2?family=Rokkitt');

h1 {
  font-family: 'Rokkitt', serif;
  text-align: center;
  color: #fff;
  font-size: 35px;
}

ul {
  list-style: none;
}

li {
  text-align: left;
  font-family: 'Rokkitt', serif;
  font-size: 2em;
  color: #f2b451;
}

input[type=radio] {
  border: 0;
  width: 20px;
  height: 2em;
}

p {
  font-family: 'Rokkitt', serif;
}

.quizContainer {
  background-color: #060ac77e;
  border-radius: 8px;
  width: 75%;
  margin: auto;
  margin-top: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
}

.next {
  border-radius: 6px;
  width: 150px;
  height: 40px;
  text-align: center;
  background-color: #cc0000;
  color: #fff;
  font-family: 'Rokkitt', serif;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  margin: 0 auto;
}

.question {
  font-family: 'Rokkitt', serif;
  font-size: 2em;
  width: 90%;
  height: auto;
  margin: auto;
  border-radius: 6px;
  text-align: center;
  background-color: #f2f205;
  color: #000;
}

.quizMessage {
  background-color: peachpuff;
  border-radius: 6px;
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 2px;
  font-family: 'Rokkitt', serif;
  color: red;
}

.choiceList {
  font-family: Courier, serif;
  color: blueviolet;
}

.result {
  width: 30%;
  height: auto;
  border-radius: 6px;
  background-color: linen;
  margin: auto;
  margin-top: 35px;
  text-align: center;
  font-family: 'Rokkitt', serif;
}